/**
 * Fonts
*/

@font-face {
  font-family: 'fuse-regular';
  src: url('../fonts/w_foundry_-_fusev.2text-regular-webfont.woff2') format('woff2'),
  url('../fonts/w_foundry_-_fusev.2text-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'fuse-black';
  src: url('../fonts/w_foundry_-_fusev.2display-black-webfont.woff2') format('woff2'),
  url('../fonts/w_foundry_-_fusev.2display-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


